@model ParkingSpotViewModel

@{
    ViewData["Title"] = "Garage overview";
    Garage garage = Model.garage;
    var vehicleList = Model.parkedVehicleModel;

    ParkingSpot currentParkingSpot = new(0,0,0,false);
}



    <div class="container mt-5">

    <h1 class="display-4 text-center mb-4">@ViewData["Title"]</h1>
    <table class="table">
        <thead class="ps-5 justify-content-center" >
            <tr>
                <th>
                    <text class="text-danger me-4 offset-sm-1">
                        Red=Occupied
                    </text>
                
                    <text class="text-success">Green = available</text>
                </th>
            </tr>
        </thead>
    <tbody>
        @for (int y = 0; y < garage.numberOfRows; y++)
        {
            <tr class="d-flex bg-alert justify-content-evenly my-5">
                @for (int x = 0; x < garage.vehiclesPerRow; x++)
                {
                        <td class="my-5">
                            <p class="text-center mb-1">
                                @Html.DisplayTextFor(model => model.garage.ParkingSpots.FirstOrDefault(p => p.row == y && p.column == x).ParkingSpotId). </p>
                        @if (garage.ParkingSpots.FirstOrDefault(p => p.row == y && p.column == x).occupied == true)
                            {
                                <div class="parkingSpot hiddenController occupied bg-danger align-content-center" style="min-width:100px; height:120px;">

                                    <a asp-action="Details" asp-route-id="@Html.DisplayTextFor(modelItem => modelItem.parkedVehicleModel.FirstOrDefault(p => p.ParkedRow == y && p.ParkedColumn == x).Id)" class=" d-inline-block w-100 h-100 fw-bold text-center text-white text-decoration-none align-content-center ">

                                        @Html.DisplayTextFor(modelItem => modelItem.parkedVehicleModel.FirstOrDefault(p => p.ParkedRow == y && p.ParkedColumn == x).RegistrationNumber)
                                        <p class="hide">View details</p>

                                    </a>
                            </div>
                        }
                        else{
                        <div class="parkingSpot available bg-success " style="min-width:100px; height:120px;">
                        </div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
</div>